@media (max-width: 767px) {
  .arrow {
    transform: rotate(90deg);
    transition: transform 0.15s ease-in-out;
  }

  .hidden-sibling {
    + ul {
      @apply hidden;
    }
    &.left-sidebar-item {
      .arrow {
        transform: rotate(-90deg) !important;
      }
    }
  }

  .left-sidebar-1 {
    .logo {
      @apply uppercase font-bold text-base tracking-wider;
      @apply flex flex-row items-center justify-start h-16;
      @apply w-full whitespace-nowrap pl-4;
      width: 260px;
      @apply text-primary-900;
      span {
        @apply block;
      }
      button {
        @apply outline-none border-0 rounded-none;
      }
    }
  }

  .left-sidebar-item {
    @apply relative font-body flex flex-row h-16 items-center;
    @apply text-base justify-start relative;
    @apply whitespace-nowrap rounded-none border-0;
    @apply outline-none focus:outline-none py-4;
    min-width: 60px;
    width: 100%;
    > svg {
      width: 60px;
    }
    &.open-sibling {
      @apply text-primary-900;
      /* &:after {
        display: block;
      } */
      + ul {
        @apply bg-gray-50;
      }
    }
    &:after {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      @apply bg-primary-500;
    }
    &:hover,
    &.active {
      @apply text-primary-900 text-base;
      /* &:after {
        display: block;
      } */
    }
  }

  .l0 {
    > .left-sidebar-item {
      > .title {
        @apply visible opacity-100;
      }
    }
  }

  .left-sidebar-title {
    @apply uppercase font-normal text-xs;
    @apply tracking-wider flex flex-row;
    @apply items-center justify-start h-16;
    @apply w-full px-4;
    @apply visible opacity-100;
  }

  ul ul .left-sidebar-item {
    padding-left: calc(theme('spacing.1') * 16);
  }
  ul ul ul .left-sidebar-item {
    padding-left: calc(theme('spacing.1') * 20);
  }
  ul ul ul ul .left-sidebar-item {
    padding-left: calc(theme('spacing.1') * 24);
  }
  ul ul ul ul ul .left-sidebar-item {
    padding-left: calc(theme('spacing.1') * 28);
  }

  .left-sidebar-1 {
    @apply text-sm shadow-lg z-10;
    [data-left-sidebar='light'] & {
      @apply bg-white border-gray-200 text-gray-900;
    }
    [data-left-sidebar='dark'] & {
      @apply text-white;
      background: color(theme('colors.gray.900') tint(5%));
      border-color: color(theme('colors.gray.900') tint(10%));
    }
    .badge {
      @apply flex items-center justify-center ml-auto mr-4 w-6 h-6;
      @apply text-sm font-medium  text-white;
      @apply bg-primary-900;
      @apply rounded-full;
    }
    i.icon {
      @apply px-4 text-xl;
    }
  }
}
