.DateRangeMainContainer {
  @apply flex items-center;

  .DateRangeContainer {
    @apply relative w-full mr-2 md:w-72;

    .Icon {
      @apply absolute top-3 right-4;
      @apply text-lg;
    }

    .CloseIcon {
      @apply absolute top-3.5 right-11;
      @apply cursor-pointer;
    }

    .Overlay {
      @apply fixed top-0 left-0 right-0 bottom-0;
      @apply z-40 hidden;

      &.Open {
        @apply block;
      }
    }

    .Content {
      @apply absolute top-14 left-0;
      @apply border border-neutral-300;
      @apply shadow-md opacity-0;
      @apply z-50;
      background-color: rgb(239, 242, 247);
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      transform: rotateX(90deg);
      transform-origin: top;

      &:before {
        @apply inline-block absolute right-auto left-3;
        border-bottom: 11px solid rgba(0, 0, 0, 0.1);
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: '';
        top: -12px;
      }

      &:after {
        @apply inline-block absolute right-auto left-3;
        border-bottom: 11px solid #ffffff;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: '';
        top: -11px;
      }

      &.Open {
        @apply opacity-100;
        transform: rotateX(0deg);
        transform-origin: top;
      }

      > .Button {
        @apply mt-2 -mb-2 px-4 w-full;
        @apply flex items-center justify-between;
      }

      .InputText {
        @apply px-4 pt-4;
        @apply flex justify-start;
        @apply text-md font-semibold;

        > :first-child {
          @apply w-1/2;
        }

        > :last-child {
          @apply w-1/2 pl-2;
        }

        &.InputTextOption {
          @apply ml-64;
        }
      }
    }
  }
}
