@font-face {
  font-family: 'ciergio';
  src: url('../assets//ciergio/ciergio.eot?hxy19r');
  src: url('../assets//ciergio/ciergio.eot?hxy19r#iefix')
      format('embedded-opentype'),
    url('../assets//ciergio/ciergio.ttf?hxy19r') format('truetype'),
    url('../assets//ciergio/ciergio.woff?hxy19r') format('woff'),
    url('../assets//ciergio/ciergio.svg?hxy19r#ciergio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ciergio-'],
[class*=' ciergio-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ciergio' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ciergio-activity:before {
  content: '\e901';
}
.ciergio-email-at:before {
  content: '\e902';
}
.ciergio-list:before {
  content: '\e904';
}
.ciergio-log-in:before {
  content: '\e905';
}
.ciergio-log-out:before {
  content: '\e906';
}
.ciergio-map-pin:before {
  content: '\e907';
}
.ciergio-menu:before {
  content: '\e909';
}
.ciergio-minus:before {
  content: '\e90a';
}
.ciergio-minus-circle:before {
  content: '\e90b';
}
.ciergio-minus-square:before {
  content: '\e90c';
}
.ciergio-mobile-phone:before {
  content: '\e90d';
}
.ciergio-more-horizontal:before {
  content: '\e90e';
}
.ciergio-more-vertical:before {
  content: '\e90f';
}
.ciergio-move:before {
  content: '\e910';
}
.ciergio-notification:before {
  content: '\e912';
}
.ciergio-notification-badge .path1:before {
  content: '\e91a';
  color: rgb(19, 33, 55);
}
.ciergio-notification-badge .path2:before {
  content: '\e91c';
  margin-left: -1em;
  color: rgb(244, 67, 54);
}
.ciergio-paperclip:before {
  content: '\e91e';
}
.ciergio-phone:before {
  content: '\e920';
}
.ciergio-plus:before {
  content: '\e921';
}
.ciergio-plus-circle:before {
  content: '\e926';
}
.ciergio-plus-square:before {
  content: '\e92f';
}
.ciergio-print:before {
  content: '\e932';
}
.ciergio-qr:before {
  content: '\e93a';
}
.ciergio-receptionist:before {
  content: '\e93b';
}
.ciergio-reward:before {
  content: '\e93c';
}
.ciergio-rewind:before {
  content: '\e93d';
}
.ciergio-slash:before {
  content: '\e93e';
}
.ciergio-sort:before {
  content: '\e93f';
}
.ciergio-tag:before {
  content: '\e940';
}
.ciergio-target:before {
  content: '\e941';
}
.ciergio-user:before {
  content: '\e942';
}
.ciergio-user-group:before {
  content: '\e943';
}
.ciergio-user-minus:before {
  content: '\e944';
}
.ciergio-user-plus:before {
  content: '\e945';
}
.ciergio-wallet:before {
  content: '\e946';
}
.ciergio-wrench:before {
  content: '\e947';
}
.ciergio-x:before {
  content: '\e948';
}
.ciergio-x-circle:before {
  content: '\e949';
}
.ciergio-archive:before {
  content: '\e94a';
}
.ciergio-back:before {
  content: '\e94b';
}
.ciergio-bill:before {
  content: '\e94c';
}
.ciergio-book:before {
  content: '\e94d';
}
.ciergio-bookmark:before {
  content: '\e94e';
}
.ciergio-book-open:before {
  content: '\e94f';
}
.ciergio-box-in:before {
  content: '\e950';
}
.ciergio-box-out:before {
  content: '\e951';
}
.ciergio-building:before {
  content: '\e952';
}
.ciergio-camera:before {
  content: '\e953';
}
.ciergio-chat-bubble:before {
  content: '\e954';
}
.ciergio-check:before {
  content: '\e955';
}
.ciergio-chevron-down:before {
  content: '\e956';
}
.ciergio-chevron-left:before {
  content: '\e957';
}
.ciergio-chevron-right:before {
  content: '\e958';
}
.ciergio-chevron-up:before {
  content: '\e959';
}
.ciergio-clipboard:before {
  content: '\e95a';
}
.ciergio-clock:before {
  content: '\e95b';
}
.ciergio-coffee:before {
  content: '\e95c';
}
.ciergio-compass:before {
  content: '\e95d';
}
.ciergio-complex:before {
  content: '\e95e';
}
.ciergio-credit-card:before {
  content: '\e95f';
}
.ciergio-donate-2:before {
  content: '\e960';
}
.ciergio-door:before {
  content: '\e961';
}
.ciergio-download:before {
  content: '\e962';
}
.ciergio-drag:before {
  content: '\e963';
}
.ciergio-eye-close:before {
  content: '\e964';
}
.ciergio-eye-open:before {
  content: '\e965';
}
.ciergio-file-minus:before {
  content: '\e966';
}
.ciergio-file-plus:before {
  content: '\e967';
}
.ciergio-file-text:before {
  content: '\e968';
}
.ciergio-filter:before {
  content: '\e969';
}
.ciergio-flag:before {
  content: '\e96a';
}
.ciergio-forward:before {
  content: '\e96b';
}
.ciergio-gear:before {
  content: '\e96c';
}
.ciergio-gift:before {
  content: '\e96d';
}
.ciergio-globe:before {
  content: '\e96e';
}
.ciergio-heart:before {
  content: '\e96f';
}
.ciergio-home:before {
  content: '\e970';
}
.ciergio-image:before {
  content: '\e971';
}
.ciergio-image-add:before {
  content: '\e972';
}
.ciergio-inbox:before {
  content: '\e973';
}
.ciergio-link:before {
  content: '\e974';
}
.ciergio-prayer:before {
  content: '\e939';
}
.ciergio-church:before {
  content: '\e937';
}
.ciergio-donate:before {
  content: '\e938';
}
.ciergio-add-file:before {
  content: '\e934';
  color: #9ca4b6;
}
.ciergio-doc:before {
  content: '\e935';
  color: #9ca4b6;
}
.ciergio-pdf:before {
  content: '\e936';
  color: #9ca4b6;
}
.ciergio-add-photo:before {
  content: '\e931';
}
.ciergio-search:before {
  content: '\e933';
}
.ciergio-attachment:before {
  content: '\e930';
}
.ciergio-glanceBills:before {
  content: '\e927';
}
.ciergio-glanceOverdue:before {
  content: '\e928';
}
.ciergio-glanceResident:before {
  content: '\e929';
}
.ciergio-glanceTeam:before {
  content: '\e92a';
}
.ciergio-glanceUnits:before {
  content: '\e92b';
}
.ciergio-glanceIssues:before {
  content: '\e92c';
}
.ciergio-same:before {
  content: '\e92d';
}
.ciergio-arrow-up:before {
  content: '\e92e';
  color: #9ca4b6;
}
.ciergio-pause:before {
  content: '\e924';
}
.ciergio-play:before {
  content: '\e925';
}
.ciergio-tick-2:before {
  content: '\e922';
}
.ciergio-tick:before {
  content: '\e923';
}
.ciergio-mail:before {
  content: '\e91f';
}
.ciergio-trash:before {
  content: '\e900';
}
.ciergio-arrow-down:before {
  content: '\e903';
  color: #9ca4b6;
}
.ciergio-calendar:before {
  content: '\e908';
}
.ciergio-edit:before {
  content: '\e911';
}
.ciergio-file:before {
  content: '\e913';
}
.ciergio-info:before {
  content: '\e914';
}
.ciergio-lock:before {
  content: '\e915';
}
.ciergio-map:before {
  content: '\e916';
}
.ciergio-more:before {
  content: '\e917';
}
.ciergio-new-message:before {
  content: '\e918';
}
.ciergio-peso:before {
  content: '\e919';
}
.ciergio-store:before {
  content: '\e91b';
}
.ciergio-upload:before {
  content: '\e91d';
}
