@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron/Aileron-Heavy.otf') format('opentype'),
      url('/fonts/aileron/Aileron-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/noto-sans/NotoSans-Regular.ttf') format('truetype'),
      url('/fonts/noto-sans/NotoSans-Bold.ttf') format('truetype');
  }
}

html {
  font-size: 14px;
}

html,
body,
#__next {
  @apply bg-neutral-100 h-full;
}

[data-background='light'] {
  @apply text-gray-900;
  code,
  pre {
    @apply text-gray-900;
  }
}

[data-background='dark'] {
  @apply text-white;
  code,
  pre {
    @apply text-white;
  }
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

a {
  @apply font-body text-primary-900 outline-none;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.rdw-editor-wrapper {
  @apply h-full;
  @apply border;
  @apply bg-white;
}

.rdw-editor-main {
  @apply py-2 px-4;
}

.rdw-link-modal {
  right: calc(100% - 30px);
  box-shadow: none !important;
  height: auto !important;
  box-shadow: 3px 3px 5px #bfbdbd !important;
}

.rdw-link-modal-label,
.rdw-link-modal-input,
.rdw-link-modal-target-option > span {
  @apply text-md !important;
}

.rdw-link-modal-btn {
  @apply rounded-md !important;
}

.rdw-link-modal-btn:nth-child(1) {
  @apply bg-primary-500 !important;
  @apply text-white !important;

  &:hover {
    @apply bg-primary-700 !important;
  }

  &:active {
    @apply bg-primary-900 !important;
  }
}
