@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron/Aileron-Heavy.otf') format('opentype'),
      url('/fonts/aileron/Aileron-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/noto-sans/NotoSans-Regular.ttf') format('truetype'),
      url('/fonts/noto-sans/NotoSans-Bold.ttf') format('truetype');
  }
}

html {
  @apply text-md;
}

html,
body,
#__next {
  @apply bg-neutral-100 h-full;
}

[data-background='light'] {
  @apply text-gray-900;
  code,
  pre {
    @apply text-gray-900;
  }
}

[data-background='dark'] {
  @apply text-white;
  code,
  pre {
    @apply text-white;
  }
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

a {
  @apply font-body text-primary-900 outline-none;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* WSIWYG EDITOR */
.rdw-editor-wrapper {
  @apply h-full;
  @apply bg-white;
  @apply rounded-md;
}

.rdw-editor-main {
  @apply py-2 px-4;
}

.rdw-link-modal {
  right: calc(100% - 30px);
  box-shadow: none !important;
  height: auto !important;
  box-shadow: 3px 3px 5px #bfbdbd !important;
}

.rdw-link-modal-label,
.rdw-link-modal-input,
.rdw-link-modal-target-option > span {
  @apply text-md !important;
}

.rdw-link-modal-btn {
  @apply rounded-md !important;
}

.rdw-link-modal-btn:nth-child(1) {
  @apply bg-primary-500 !important;
  @apply text-white !important;

  &:hover {
    @apply bg-primary-700 !important;
  }

  &:active {
    @apply bg-primary-900 !important;
  }
}

.rdw-editor-toolbar {
  @apply mt-2 border-t-0 !important;
}

[data-reach-dialog-content] {
  @apply p-0 !important;
  @apply bg-transparent !important;
  @apply border-transparent !important;
  width: 90vw !important;
}

@screen lg {
  [data-reach-dialog-content] {
    @apply max-w-xl !important;
  }
}

/* END WSIWYG EDITOR */

/* IMAGE SLIDER */
.image-gallery-bullets {
  .image-gallery-bullet {
    @apply bg-white !important;
    @apply border-info-900 !important;

    &.active {
      @apply bg-info-500 !important;
    }
  }
}

.image-gallery-slide img {
  @apply w-full !important;
  @apply object-scale-down !important;
  @apply overflow-hidden !important;
  @apply object-center !important;
  height: 430px !important;
  max-height: 80vh !important;
}

/* END IMAGE SLIDER */

/* DATETIME PICKER */
/*!
* https://github.com/YouCanBookMe/react-datetime
*/

.rdt {
  @apply relative w-full mr-4;

  .rdtPicker {
    @apply block mt-5 right-0 top-20;
    @apply invisible opacity-0;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
  }

  &.rdtOpen {
    .rdtPicker {
      @apply visible opacity-100 mt-0;
    }
  }
}

.rdtPicker {
  @apply absolute p-1 mt-1 z-50;
  @apply bg-white;
  @apply border border-neutral-300 !important;
  @apply rounded bg-clip-padding;
  @apply hidden shadow-md;
  @apply min-w-full !important;

  &:before {
    @apply inline-block absolute left-auto right-3;
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: '';
    top: -11px;
  }

  &:after {
    @apply inline-block absolute left-auto right-3;
    border-bottom: 11px solid #ffffff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: '';
    top: -10px;
  }
}

.rdtStatic .rdtPicker {
  @apply static shadow-none;
}

.rdtPicker .rdtTimeToggle {
  @apply p-1;
  @apply text-center;
  @apply rounded;
}

.rdtPicker table {
  @apply w-full m-0;
  @apply border-white !important;
}

.rdtPicker td,
.rdtPicker th {
  @apply text-center p-1;
}

.rdtPicker td {
  @apply cursor-pointer;
}

.rdtDay {
  @apply h-7 w-7 p-0;
  @apply text-center leading-7;
  @apply rounded-full;

  &.rdtToday.rdtActive,
  &.rdtActive,
  &.rdtActive:hover {
    @apply bg-primary-500 !important;
    @apply bg-white;
  }
}

.rdtDays {
  tr {
    .dow {
      text-align: center;
      border-bottom: 1px solid #e3e3e3;
      font-size: 12px;
      text-transform: uppercase;
      color: #9a9a9a;
      font-weight: 400;
      padding-bottom: 5px;
      padding-top: 10px;
    }
    .rdtOld,
    .rdtNew {
      @apply text-neutral-500;
    }
  }
}

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  @apply bg-neutral-500;
  @apply cursor-pointer;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}

.rdtPicker th.rdtSwitch {
  width: 50px;
  padding: 5px;
  border-radius: 4px;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
  border-radius: 50%;
  line-height: 33px;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters {
  > div {
    float: left;
    width: 40px;
    font-weight: 300;
    margin: 3px;
    border-radius: 50%;
  }
  .rdtCounterSeparator {
    width: 0;
    border: 1px solid transparent;
  }
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
  .rdtCount {
    padding: 7px;
    height: 40px !important;
    border: 1px solid transparent;
  }
}

.rdtCounterSeparator {
  padding: 7px;
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  @apply text-primary-500;
  line-height: 40px;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  -webkit-transition: all 60ms ease-in;
  -moz-transition: all 60ms ease-in;
  -o-transition: all 60ms ease-in;
  -ms-transition: all 60ms ease-in;
  transition: all 60ms ease-in;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: #eee;
  color: #797979;
}

.rdtCounter .rdtCount {
  @apply text-base font-semibold;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtMonths,
.rdtYears {
  padding-bottom: 10px;
  .rdtMonth,
  .rdtYear {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin: 3px 3px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;

    &.rdtActive {
      @apply bg-primary-900 !important;
      @apply text-white;
    }
  }
}

/* END DATETIME PICKER */
