@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
input,
select,
button {
  appearance: none !important;
  -webkit-appearance: none !important;
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none !important;
}
input:focus,
select:focus,
select:active {
  outline: none !important;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/) !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: #fff !important;
  --tw-ring-color: #fff !important;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 #fff !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #fff) !important;
  border-color: #fff;
}

/* CONTENT AREA */
.content-title {
  @apply mb-5;
  font-family: Aileron;
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  line-height: 39px;
  color: #132137;
}

.content-tabs {
  @apply col-span-4 pt-3;
}

.content-tabs .tab {
  @apply inline-block mr-5 px-1 text-lg;
  position: relative;
}

.content-tabs .tab span {
  color: #9ca4b6;
}

.content-tabs .tab.active span,
.content-tabs .tab:hover span {
  color: #0871f4;
  cursor: pointer;
}

.content-tabs .tab.active::after,
.content-tabs .tab:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
  height: 1px;
  background: #0871f4;
  z-index: 1;
}
*:focus {
  outline: none;
}

.content-wrap {
  @apply py-5 px-8;
}

.content-wrap .toolbar {
  @apply grid grid-cols-5 w-full mb-5;
}

/* BUTTON */
.btn {
  @apply max-w-full;
}
.btn .main {
  @apply pt-2;
}
.btn .add-on {
  @apply inline-block content-end p-2 pb-0 pl-0;
}
.btn .add-on i {
  @apply text-2xl;
}
/* FORM INPUT */
.form-input {
  @apply overflow-hidden w-full inline-flex rounded-md border border-gray-200 p-0 bg-white;
}
.form-input .main input.input,
.form-input .main select {
  @apply m-0 outline-none focus:outline-none inline-block p-3 border-0;
}
.form-input .main {
  @apply inline-block;
}
.form-input .main {
  width: calc(100% - 40px);
}
.form-input .add-on {
  @apply inline-block content-end p-2 pb-0 w-12;
}
.form-input .add-on i {
  @apply text-2xl;
}

/* FORM SELECT */
.form-select {
  @apply overflow-hidden w-full inline-flex rounded-md border border-gray-200 p-0 bg-white;
}
.form-select .main select {
  @apply m-0 outline-none focus:outline-none inline-block p-3 border-0;
}
.form-select .main {
  @apply inline-block;
}
.form-select .main {
  /* width: calc(100% - 40px); */
  width: 100%;
}
.form-select .add-on {
  @apply inline-block content-end p-2 pb-0 w-12;
}
.form-select .add-on i {
  @apply text-2xl;
}

/* LIST GROUP */
.card {
  @apply bg-white rounded-md border border-gray-200 mb-5;
}
.card .header {
  @apply p-5 grid grid-cols-3 w-full;
}
.card .header .title {
  @apply pt-3 inline-flex space-x-2 content-center text-xl font-semibold;
}
.card .header .actions {
  @apply p-0 text-right col-span-2;
}
.card .header .actions > div {
  @apply inline-block;
}
.card .header .actions > div > * {
  @apply ml-2;
}

.card .content ul {
  @apply p-0 m-0;
}
.card .content ul li {
  @apply p-5 bg-neutral-100 border-b border-gray-200;
}
.card .content ul li:nth-child(even) {
  @apply bg-white;
}

/* MODAL */
/* .modal-overlay {
  @apply flex justify-center items-center;
  @apply fixed z-50 overflow-auto;
  @apply bg-opacity-50 bg-gray-400 w-screen h-full top-0 left-0;
} */

.modal {
  @apply bg-white w-full flex-col flex rounded transition ease-in-out duration-700;
}

.modal .modal-header {
  @apply flex justify-between items-center border-b-2 p-4;
}

.modal .modal-header .modal-title span {
  @apply text-black text-lg font-bold;
}

.modal .modal-content {
  @apply p-4;
  @apply border-b-2;
  @apply h-full;
}

.modal .modal-footer {
  @apply w-full flex justify-between p-4;
}

.modal .modal-footer button {
  margin-bottom: 0 !important;
}

/* CARD CONTENT TABLE */
.card .content table {
  @apply w-full;
}
.card .content table thead td {
  @apply text-gray-500;
}
.card .content table td {
  @apply py-2 px-5;
}
/* .card .content table tbody tr {
  @apply bg-neutral-100;
} */
/* .card .content table tbody tr:nth-child(even) {
  @apply bg-white;
} */

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    background: none !important;
  }

  body {
    a,
    .single-view-link {
      color: $black-color !important;
    }

    a[href]:after {
      content: none;
    }

    .inner-holder {
      & > *:not(.list-content) {
        display: none;
      }

      .list-content {
        display: block;
        padding-top: 100px;

        .print-list-content {
          border: 0 !important;
          margin: 0;

          .header {
            display: none;
          }

          thead,
          tbody {
            tr {
              th i {
                display: none;
              }

              th:last-child,
              td:last-child {
                display: none;
              }
            }
          }
        }

        .with-pagination {
          display: none !important;
        }
      }
    }
  }

  .print-container {
    @apply table w-full;
  }

  .print-container table thead th {
    font-size: 13px;
    @apply bg-gray-300 font-bold p-2 text-center;
  }

  .print-container table tbody {
    font-size: 11px;
  }

  .print-container table tbody tr {
    @apply border-b border-gray-300;
  }

  .print-container table tbody td {
    word-wrap: break-word;
    font-size: 13px;
    @apply p-2;
  }

  @page {
    size: auto;
    margin: 10mm 15mm 10mm 15mm;
  }
}
