@tailwind base;
@tailwind components;
@tailwind utilities;


.content-title {
  font-family: Aileron;
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  line-height: 39px;
  color: #132137;
}

.content-tabs {
}

.content-tabs li {
  list-style: none;
  position: relative;
}

.content-tabs li a {
  color: #9ca4b6;
}

.content-tabs li.active a,
.content-tabs li:hover a {
  color: #0871f4;
}

.content-tabs li.active::after,
.content-tabs li:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
  height: 1px;
  background: #0871f4;
  z-index: 1;
}
*:focus {
  outline: none;
}
.content-wrap .toolbar{
  @apply grid grid-cols-5 w-full mb-5
}
/* FORM INPUT */
.form-input {
  @apply overflow-hidden w-full inline-flex rounded-md border border-gray-200 p-0 bg-white
}
.form-input .main input.input {
  @apply m-0 outline-none focus:outline-none inline-block p-3 border-0
}
.form-input .main {
  @apply inline-block
}
.form-input .main {
  width: calc(100% - 40px);
}
.form-input .add-on {
  @apply inline-block content-end p-2 pb-0 w-12
}
.form-input .add-on i{
  @apply text-2xl
}
/* LIST GROUP */
.list-group{
  @apply bg-white rounded-md border border-gray-200
}
.list-group .header{
  @apply p-6 grid grid-cols-2 w-full
}
.list-group .header .title{
  @apply pt-3 inline-flex space-x-2 content-center text-xl font-semibold
}
.list-group .header .actions{
  @apply p-0 text-right
}
.list-group .content{
  @apply border-t border-gray-200
}
.list-group .content ul{
  @apply p-0 m-0
}
.list-group .content ul li{
  @apply p-5 bg-neutral-100 border-b border-gray-200
}
.list-group .content ul li:nth-child(even){
  @apply bg-white
}