.PostContainer {
  @apply pt-4 pb-8 px-8;

  .PostHeader {
    @apply mb-5;
    @apply font-heading font-black;
    @apply text-neutral-dark text-3xl leading-10;
  }

  .HeaderSmall {
    @apply my-5;
    @apply font-body;
    @apply text-neutral-dark text-base leading-7;
  }

  .CardHeader {
    @apply font-heading font-black;
    @apply text-base leading-7;
  }

  .ContentFlex {
    @apply flex items-center justify-between;
  }

  .MainControl {
    @apply flex items-center justify-between mt-6 flex-col md:flex-row;
  }

  .BulkControl {
    @apply flex items-center justify-between w-full md:w-1/4;
  }

  .CategoryControl {
    @apply flex items-center justify-end w-full flex-col md:w-1/2 md:flex-row;

    & > * {
      @apply mr-2;
    }

    &:last-child {
      @apply -mr-2;
    }
  }

  .SearchControl {
    @apply relative w-full md:w-80;

    .SearchControlIcon {
      @apply absolute top-4 right-4;
    }
  }

  .TextWrapper {
    @apply whitespace-nowrap;
    @apply overflow-ellipsis overflow-hidden;

    @supports (-webkit-line-clamp: 3) {
      @apply overflow-ellipsis overflow-hidden;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
