.PageContainer {
  @apply flex items-start w-full lg:min-w-3xl lg:max-w-screen-md;
  @apply font-body font-normal text-base leading-6;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

  .PageSubContainer {
    @apply p-4 w-full;

    .PageHeader {
      @apply mb-4;
      @apply font-heading;

      .HeaderCategory {
        @apply font-black text-neutral-500;
      }

      .HeaderTitle {
        @apply font-black text-4xl leading-10;
      }
    }

    .PageContent {
      @apply mb-6;

      a {
        @apply text-info-900 hover:underline;
      }

      ul,
      ol {
        list-style: initial;
        margin: initial;
        padding: 0 0 0 40px;
      }

      ol {
        list-style-type: decimal;
      }
    }
  }
}
