.main {
  .navbar {
    min-height: 50px;
    @apply border-b py-2 px-4;
    .navbar-inner {
      @apply w-full flex items-center justify-end;
      .toggle-btn {
        @apply outline-none border-0 rounded-none mx-2 h-12 w-12;
      }
    }
    .header-item-wrap {
      @apply flex flex-col relative px-1;

      .image-wrap {
        @apply h-16 w-16;
        @apply bg-white;
        @apply border;
        @apply rounded-full;

        > img {
          @apply h-full w-full rounded-full;
          @apply object-contain object-center;
        }
      }

      &.user-info {
        .user-info-name,
        .user-info-title {
          max-width: 236px;
          text-overflow: ellipsis;
          display: block;
          white-space: nowrap;
          overflow: hidden;
        }
        .user-info-name {
          @apply text-lg font-semibold;
        }
        small {
          color: #9ca4b6;
          @apply text-base;
        }
      }
      .user-dropdown {
      }
      &.small {
        .image-wrap {
          @apply h-12 w-12;
        }
      }
      &.medium {
        .image-wrap {
          @apply h-14 w-14;
        }
      }
      &.large {
        .image-wrap {
          @apply h-16 w-16;
        }
      }
      &.x-large {
        .image-wrap {
          @apply h-24 w-24;
        }
      }
    }
  }
}

[data-navbar='light'] {
  .navbar {
    @apply text-gray-900 shadow-lg z-10;
    @apply bg-white border-gray-100;
  }
}

[data-navbar='dark'] {
  .navbar {
    @apply text-white;
    background: color(theme('colors.gray.900') tint(5%));
    border-color: color(theme('colors.gray.900') tint(10%));
  }
}
