@media (max-width: 767px) {
  [data-layout='layout-1'] {
    width: 100%;
    .wrapper {
      @apply relative flex flex-row items-stretch min-h-full;
      .left-sidebar {
        @apply absolute top-0 left-0 bottom-0 h-full w-72 z-10;
        @apply transform transition-transform duration-300 ease-in-out -translate-x-72;
        @apply overflow-auto;
      }
      .main {
        @apply flex flex-col w-full z-0;
      }
    }
    &[data-collapsed='true'] {
      .left-sidebar {
        @apply translate-x-0;
      }
    }
  }
}

@media (min-width: 768px) {
  [data-layout='layout-1'] {
    width: 100%;
    .wrapper {
      @apply relative flex flex-row items-stretch min-h-full;
      .left-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        font-weight: 200;
        overflow-x: hidden;
      }
      .main {
        @apply flex flex-col;
        min-width: calc(100% - (theme('spacing.1') * 72));
        margin-left: 260px;
        transition: margin-left 0.25s ease-in-out;
      }
    }
    &[data-collapsed='false'] {
      .left-sidebar {
        max-width: calc(theme('spacing.1') * 72);
      }
      .main {
        margin-left: 260px;
      }
    }
    &[data-collapsed='true'] {
      .left-sidebar {
        max-width: calc(theme('spacing.1') * 14);
      }
      .main {
        margin-left: 60px;
      }
    }
  }
}
