.MessageInputContainer {
  @apply flex flex-col w-full h-full;

  .MessageInputSubContainer {
    @apply border rounded-md min-h-5xs overflow-auto pt-4;
    a {
      @apply text-info-900 hover:underline;
    }

    &.MessageInputOverflowTwo {
      > :first-child {
        @apply h-auto max-h-16;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
    }

    &.MessageInputOverflowThree {
      > :first-child {
        @apply h-auto max-h-24;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
    }

    &.MessageInputOverflowFour {
      > :first-child {
        @apply h-auto max-h-32;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
    }

    &.MessageInputOverflowFive {
      > :first-child {
        @apply h-auto max-h-40;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
    }

    &.MessageInputOverflowSix {
      > :first-child {
        @apply h-auto max-h-48;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
    }

    > :first-child {
      @apply h-auto max-h-8;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;

      > :first-child {
        @apply pb-0 -mt-2;
      }
    }
  }

  .hasError {
    @apply border-danger-500;
  }

  .MessageInputContainer {
    @apply flex items-center justify-between;
  }
}
